<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes</title>
    <link href="https://fonts.googleapis.com/css2?family=Londrina+Sketch&family=Londrina+Solid&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <!-- Title and Heading -->
    <div class="title">StudyVault.</div>
    <div class="heading">Choose Notes:</div>

    <!-- Background Image -->
    <img class="bg" src="img/img.png" alt="">

    <!-- Container for displaying folders -->
    <div class="file-container">
        <div class="file-row">
            <!-- Dynamically loop through notes and maintain folder display -->
            {% for resource in resources %}
            <div>
                <a href="{{ resource.file_link }}" target="_blank">
                    <img src="https://img.icons8.com/fluency/48/000000/folder-invoices.png" class="folder" alt="Folder">
                </a>
                <a href="{{ resource.file_link }}" class="folder-label" target="_blank">{{ resource.file_name }}</a>
            </div>
            {% endfor %}
        </div>
    </div>

</body>
</html>
